body {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  background-color: #fff;
}

@media not screen and (min-width: 768px) {
  .hide-on-sp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hide-on-pc {
    display: none;
  }
}

.color-attention {
  color: #e7728e;
}

.inline-block {
  display: inline-block;
  font-weight: inherit;
}

.change-opacity-on-hover a {
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.change-opacity-on-hover a:hover {
  opacity: 0.6;
}

.section-padding-y {
  padding-top: 96px;
}
@media screen and (min-width: 768px) {
  .section-padding-y {
    padding-top: 160px;
  }
}

.inner {
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    padding: 0 40px;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
}
.title::after {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  left: 50%;
  bottom: -28px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #3ea1d1;
}
@media screen and (min-width: 768px) {
  .title::after {
    bottom: -24px;
  }
}

.button {
  margin-top: 42px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .button {
    margin-top: 44px;
  }
}
.button a,
.button input[type=submit] {
  color: #3ea1d1;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.02px;
  border: 1px solid #3ea1d1;
  background: #fff;
  display: inline-block;
  width: 158px;
  padding: 11px 0;
  -webkit-transition: color 0.3s linear, background 0.3s linear;
  transition: color 0.3s linear, background 0.3s linear;
}
.button a:hover,
.button input[type=submit]:hover {
  color: #fff;
  background: #3ea1d1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding: 19px 0;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 24px 0;
  }
}
.header__logo img {
  width: 120px;
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46.5px;
}

.header__nav-link {
  display: inline-block;
  height: 100%;
  font-weight: 300;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.header__nav-link:hover {
  color: #3ea1d1;
}

.header__drawer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.header__drawer-button.is-checked .header__drawer-bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.header__drawer-button.is-checked .header__drawer-bar:nth-child(2) {
  opacity: 0;
}
.header__drawer-button.is-checked .header__drawer-bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .header__drawer-button {
    display: none;
  }
}

.header__drawer-bar {
  display: block;
  width: 30px;
  height: 2px;
  background: #3ea1d1;
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear, -webkit-transform 0.3s linear;
}

.drawer {
  position: fixed;
  top: 60px;
  right: 0;
  width: 270px;
  height: 100vh;
  background: #3ea1d1;
  z-index: 90;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .drawer {
    display: none;
  }
}

.drawer__list {
  margin-top: 40px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.drawer__link {
  padding: 0 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.fv {
  padding-top: 60px;
  margin-bottom: -2px;
}
@media screen and (min-width: 768px) {
  .fv {
    padding-top: 70px;
  }
}

@media screen and (min-width: 768px) {
  .fv__inner {
    position: relative;
  }
}

.fv__image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .fv__image {
    text-align: right;
  }
}
.fv__image img {
  width: 345px;
}
@media screen and (min-width: 768px) {
  .fv__image img {
    width: 82.5%;
  }
}

.fv__content {
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .fv__content {
    position: absolute;
    z-index: 20;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    background-color: #fff;
    padding: 80px 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fv__content {
    padding: 50px 16px;
  }
}

.fv__lead {
  font-size: 26px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .fv__lead {
    font-size: 26px;
    font-weight: 600;
  }
}

.fv__description {
  margin-top: 16px;
  font-weight: 300;
}

.concept__flex-order {
  margin-top: 74px;
}
@media screen and (min-width: 768px) {
  .concept__flex-order {
    margin-top: 89px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: clamp(40px, 0.078125 * (100vw - 768px) + 40px, 80px);
  }
}

.concept__image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .concept__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
.concept__image img {
  width: 345px;
}
@media screen and (min-width: 768px) {
  .concept__image img {
    width: 100%;
  }
}

.concept__content {
  margin-top: 34px;
}
@media screen and (min-width: 768px) {
  .concept__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 0;
  }
}

.concept__lead {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .concept__lead {
    font-size: 18px;
  }
}

.concept__description {
  margin-top: 22px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .concept__description {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .concept__description {
    margin-top: 22px;
  }
}

.feature__list {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .feature__list {
    margin-top: 89px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
}

.feature__item {
  -webkit-box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
  background: #fff;
  max-width: 345px;
}

.feature__image img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feature__image img {
    width: 340px;
  }
}

.feature__description {
  font-weight: 600;
  text-align: center;
  padding: 26px 0 25.5px;
}

.question {
  margin-top: 96px;
  padding-top: 182px;
  padding-bottom: 50px;
  background: url("../img/sp/question-bg.jpg") top center/cover no-repeat;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .question {
    margin-top: 160px;
    padding-top: 123px;
    padding-bottom: 120px;
    background: url("../img/question-bg.jpg") center center/cover no-repeat;
  }
}
.question::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  z-index: -1;
}

.question__lead {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .question__lead {
    font-size: 22px;
  }
}

.question__description {
  margin-top: 24px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .question__description {
    font-size: 16px;
  }
}

.products__inner {
  max-width: 1020px;
}

.products__list {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .products__list {
    margin-top: 89px;
  }
}
@media screen and (min-width: 768px) {
  .products__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.products__item {
  max-width: 263px;
}
@media screen and (min-width: 768px) {
  .products__item {
    max-width: 260px;
  }
}

.products__link:hover .products__image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.products__image {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.products__image img {
  width: 263px;
}

.products__description {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
}

.products__price {
  margin-top: 11px;
  color: #989898;
  font-size: 14px;
  font-weight: 300;
}

.products__button {
  margin-top: 41px;
}

.news__list {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}
@media screen and (min-width: 768px) {
  .news__list {
    margin-top: 92px;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
  }
}

.news__item {
  max-width: 345px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e0e0e0;
}
@media screen and (min-width: 768px) {
  .news__item {
    max-width: 1040px;
    padding-bottom: 22px;
  }
}

.news__link:hover .news__image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (min-width: 768px) {
  .news__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 40px;
  }
}

.news__image {
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.news__image img {
  width: 345px;
}
@media screen and (min-width: 768px) {
  .news__image img {
    max-width: 260px;
  }
}

.news__content {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .news__content {
    margin-top: 0;
  }
}

.news__date {
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.news__headline {
  margin-top: 10px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .news__headline {
    margin-top: 16px;
    font-size: 18px;
  }
}

.news__description {
  margin-top: 14px;
  color: #888;
  font-size: 14px;
  font-weight: 300;
  color: #888;
  line-break: strict;
}
@media screen and (min-width: 768px) {
  .news__description {
    margin-top: 10px;
  }
}

.news__button {
  margin-top: 42px;
}
@media screen and (min-width: 768px) {
  .news__button {
    margin-top: 44px;
  }
}

@media screen and (min-width: 768px) {
  .motto__flex-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: clamp(40px, 0.078125 * (100vw - 768px) + 40px, 80px);
  }
}

.motto__image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .motto__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
.motto__image img {
  width: 345px;
}
@media screen and (min-width: 768px) {
  .motto__image img {
    width: 600px;
  }
}

.motto__content {
  margin-top: 33px;
}
@media screen and (min-width: 768px) {
  .motto__content {
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.motto__lead {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .motto__lead {
    margin-top: 2px;
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .motto__lead {
    font-size: 22px;
  }
}

.motto__description {
  margin-top: 22px;
  font-size: 14px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .motto__description {
    margin-top: 36px;
    font-size: 16px;
  }
}

.contact {
  background: url(../img/contact-bg.jpg) top center/cover no-repeat;
  margin-top: 96px;
  padding-top: 56px;
  padding-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-top: 160px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.contact__title {
  color: #3ea1d1;
}

.contact__description {
  margin-top: 74px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .contact__description {
    margin-top: 90px;
  }
}

.form {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .form {
    margin-top: 19px;
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

.form__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  padding: 0 16px;
  height: 32px;
  opacity: 0.7;
  background: #3ea1d1;
}
@media screen and (min-width: 768px) {
  .form__label {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    padding: 0;
    height: 40px;
    -webkit-clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
  }
}

.form__label-text {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .form__label-text {
    font-size: 18px;
  }
}

.form__label-mark {
  color: #e7728e;
  font-size: 10px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .form__label-mark {
    font-size: 12px;
  }
}

.form__item {
  margin-top: 3px;
}
@media screen and (min-width: 768px) {
  .form__item {
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }
}

.form__text-input {
  width: 100%;
  border: 0;
  -webkit-box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
  padding: 6.5px;
}
.form__text-input:focus {
  border: 2px solid #3ea1d1;
  outline: none;
  padding: 4.5px;
}

.form__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .form__radios {
    margin-top: 0;
  }
}

.form__radio-input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form__radio-input:focus + .form__radio-text {
  border: 2px solid #3ea1d1;
}
.form__radio-input:checked + .form__radio-text {
  color: #fff;
  background: #3ea1d1;
  border: 1px solid #fff;
}
.form__radio-input:focus:checked + .form__radio-text {
  border: 2px solid #fff;
}

.form__radio-text {
  display: grid;
  place-items: center;
  width: 80px;
  height: 40px;
  color: #3ea1d1;
  font-weight: 300;
  letter-spacing: 0.026px;
  background: #fff;
}

.form__textarea {
  width: 100%;
  height: 122px;
  padding: 6.5px;
  border: 0;
  -webkit-box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
}
.form__textarea:focus {
  border: 2px solid #3ea1d1;
  outline: none;
}
@media screen and (min-width: 768px) {
  .form__textarea {
    margin-top: 0;
  }
}

.form__privacy {
  margin-top: 28px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .form__privacy {
    margin-top: 32px;
  }
}

.form__checkbox {
  position: relative;
}

.form__checkbox-input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form__checkbox-input:focus + .form__checkbox-text::before {
  border: 2px solid #3ea1d1;
}
.form__checkbox-input:checked + .form__checkbox-text::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1px;
  background: url("../img/icon-check.svg") center center/contain no-repeat;
}

.form__checkbox-text {
  margin-left: 30px;
  font-weight: 300;
}
.form__checkbox-text::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  border: 1px solid #3ea1d1;
  background: #fff;
}
.form__checkbox-text a {
  color: #3ea1d1;
  text-decoration: underline;
}

.form__button {
  margin-top: 23px;
}
@media screen and (min-width: 768px) {
  .form__button {
    margin-top: 44px;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 39px;
    padding-bottom: 14px;
  }
}

.footer__logo {
  line-height: 1;
  text-align: center;
}
.footer__logo img {
  width: 120px;
}

.footer__list {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 32px;
  }
}

.footer__item {
  text-align: center;
}

.footer__link {
  display: block;
  font-size: 12px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 12px;
    font-weight: 300;
  }
}

.footer__icons {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    margin-top: 19px;
  }
}

.footer__icon {
  font-size: 0;
}

.footer__copyright {
  margin-top: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: 28px;
  }
}
.footer__copyright small {
  display: block;
  color: #888;
  font-size: 12px;
  font-weight: 300;
}

.fade-in-up {
  opacity: 0;
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.fade-in-up.is-in-view {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}