@use "sass:map";

$breakpoints: (
  sp: "not screen and (min-width: 768px)",
  tb: "screen and (min-width: 768px) and (max-width: 1024px)",
  pc: "screen and (min-width: 768px)",
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

$font-family-ja: "Noto Serif JP", serif;

$font-size-base: 16px;
$font-size-sub: 14px;
$line-height-base: 1.7;

$color-main: #3ea1d1;
$color-bg: #fff;
$color-text: #333;
$color-text-sub: #888;
$color-attention: #e7728e;
$color-price: #989898;
$color-border: #e0e0e0;

$width-inner-sp: 345px;
$width-inner-pc: 1200px;

// base
body {
  font-family: $font-family-ja;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text;
  background-color: $color-bg;
}

// 共有
.hide-on-sp {
  @include mq(sp) {
    display: none;
  }
}

.hide-on-pc {
  @include mq(pc) {
    display: none;
  }
}

.color-attention {
  color: $color-attention;
}

.inline-block {
  display: inline-block;
  font-weight: inherit;
}

.change-opacity-on-hover {
  a {
    transition: opacity 0.3s linear;

    &:hover {
      opacity: 0.6;
    }
  }
}

.section-padding-y {
  padding-top: 96px;

  @include mq(pc) {
    padding-top: 160px;
  }
}

.inner {
  padding-inline: 15px;

  @include mq(pc) {
    padding-inline: 40px;
    max-width: calc($width-inner-pc + 40px * 2);
    margin-inline: auto;
  }
}

.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  position: relative;

  @include mq(pc) {
    font-size: 40px;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    left: 50%;
    bottom: -28px;
    transform: translateX(-50%);
    background-color: $color-main;

    @include mq(pc) {
      bottom: -24px;
    }
  }
}

.button {
  margin-top: 42px;
  text-align: center;

  @include mq(pc) {
    margin-top: 44px;
  }

  a,
  input[type="submit"] {
    color: $color-main;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02px;
    border: 1px solid $color-main;
    background: $color-bg;
    display: inline-block;
    width: 158px;
    padding: calc(12px - 1px) 0;
    transition: color 0.3s linear, background 0.3s linear;

    &:hover {
      color: $color-bg;
      background: $color-main;
    }
  }
}

// header
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-bg;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 19px 0;

  @include mq(pc) {
    padding: 24px 0;
  }

  img {
    width: 120px;
    display: block;
  }
}

.header__nav {
  @include mq(sp) {
    position: fixed;
    top: 60px;
    right: 0;
    width: 270px;
    height: 100vh;
    background: $color-main;
    z-index: 90;
    transform: translateX(100%);
    transition: transform 0.3s linear;

    &.is-checked {
      transform: translateX(0);
    }
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 46.5px;

  @include mq(sp) {
    margin-top: 40px;
    align-items: end;
    flex-direction: column;
    gap: calc(32px - 8px * 2);
  }
}

.header__nav-item {
}

.header__nav-link {
  display: inline-block;
  height: 100%;
  font-weight: 300;
  transition: color 0.3s linear;

  @include mq(pc) {
    &:hover {
      color: $color-main;
    }
  }

  @include mq(sp) {
    padding: 8px 15px;
    color: $color-bg;
    font-size: 18px;
    font-weight: 300;
  }
}

.header__drawer-button {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &.is-checked {
    .header__drawer-bar {
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  @include mq(pc) {
    display: none;
  }
}

.header__drawer-bar {
  display: block;
  width: 30px;
  height: 2px;
  background: $color-main;
  transition: transform 0.3s linear, opacity 0.3s linear;
}

// fv
.fv {
  padding-top: 60px;
  margin-bottom: -2px;

  @include mq(pc) {
    padding-top: 70px;
  }
}

.fv__inner {
  @include mq(pc) {
    position: relative;
  }
}

.fv__image {
  text-align: center;

  @include mq(pc) {
    text-align: right;
  }

  img {
    width: $width-inner-sp;

    @include mq(pc) {
      width: calc(990px / $width-inner-pc * 100%);
    }
  }
}

.fv__content {
  padding-top: 30px;

  @include mq(pc) {
    position: absolute;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: $color-bg;
    padding: 80px 40px;
  }

  @include mq(tb) {
    padding: 50px 16px;
  }
}

.fv__lead {
  font-size: 26px;
  font-weight: 600;

  @include mq(pc) {
    font-size: 26px;
    font-weight: 600;
  }
}

.fv__description {
  margin-top: 16px;
  font-weight: 300;
}

//concept
.concept {
}

.concept__inner {
}

.concept__title {
}

.concept__flex-order {
  margin-top: 74px;

  @include mq(pc) {
    margin-top: 89px;
    display: flex;
    align-items: center;
    gap: clamp(
      40px,
      calc((80 - 40) / (1280 - 768) * (100vw - 768px) + 40px),
      80px
    );
  }
}

.concept__image {
  text-align: center;

  @include mq(pc) {
    flex: 0 0 calc(600px / $width-inner-pc * 100%);
  }

  img {
    width: $width-inner-sp;

    @include mq(pc) {
      width: 100%;
    }
  }
}

.concept__content {
  margin-top: 34px;

  @include mq(pc) {
    flex-grow: 1;
    margin-top: 0;
  }
}

.concept__lead {
  font-size: 20px;
  font-weight: 600;

  @include mq(tb) {
    font-size: 18px;
  }
}

.concept__description {
  margin-top: 22px;
  font-weight: 300;

  @include mq(pc) {
    margin-top: 40px;
  }

  @include mq(tb) {
    margin-top: 22px;
  }
}

//feature
.feature {
}

.feature__inner {
}

.feature__title {
}

.feature__list {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @include mq(pc) {
    margin-top: 89px;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
}

.feature__item {
  box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
  background: $color-bg;
  max-width: 345px;
}

.feature__image {
  img {
    width: 100%;

    @include mq(pc) {
      width: 340px;
    }
  }
}

.feature__description {
  font-weight: 600;
  text-align: center;
  padding: 26px 0 25.5px;
}

// question
.question {
  margin-top: 96px;
  padding-top: 182px;
  padding-bottom: 50px;
  background: url("../img/sp/question-bg.jpg") top center / cover no-repeat;
  position: relative;
  z-index: 1;

  @include mq(pc) {
    margin-top: 160px;
    padding-top: 123px;
    padding-bottom: 120px;
    background: url("../img/question-bg.jpg") center center / cover no-repeat;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.12);
    z-index: -1;
  }
}

.question__inner {
}

.question__lead {
  color: $color-bg;
  font-size: 20px;
  font-weight: 600;

  @include mq(pc) {
    font-size: 22px;
  }
}

.question__description {
  margin-top: 24px;
  color: $color-bg;
  font-size: 14px;
  font-weight: 600;

  @include mq(pc) {
    font-size: 16px;
  }
}

// products
.products {
}

.products__inner {
  max-width: calc(940px + 40px * 2);
}

.products__title {
}

.products__list {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include mq(pc) {
    margin-top: 89px;
  }

  @include mq(pc) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.products__item {
  max-width: 263px;

  @include mq(pc) {
    max-width: 260px;
  }
}

.products__link {
  &:hover {
    & .products__image {
      transform: scale(1.05);
    }
  }
}

.products__image {
  transition: transform 0.3s linear;

  img {
    width: 263px;
  }
}

.products__description {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
}

.products__price {
  margin-top: 11px;
  color: $color-price;
  font-size: 14px;
  font-weight: 300;
}

.products__button {
  margin-top: 41px;
}

// news
.news {
}

.news__inner {
}

.news__title {
}

.news__list {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  @include mq(pc) {
    margin-top: 92px;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
  }
}

.news__item {
  max-width: 345px;
  padding-bottom: 27px;
  border-bottom: 1px solid $color-border;

  @include mq(pc) {
    max-width: 1040px;
    padding-bottom: 22px;
  }
}

.news__link {
  &:hover {
    & .news__image {
      transform: scale(1.05);
    }
  }

  @include mq(pc) {
    display: flex;
    align-items: start;
    gap: 40px;
  }
}

.news__flex-order {
}

.news__image {
  text-align: center;
  transition: transform 0.3s linear;

  img {
    width: 345px;

    @include mq(pc) {
      max-width: 260px;
    }
  }
}

.news__content {
  margin-top: 16px;

  @include mq(pc) {
    margin-top: 0;
  }
}

.news__date {
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.news__headline {
  margin-top: 10px;
  font-weight: 600;

  @include mq(pc) {
    margin-top: 16px;
    font-size: 18px;
  }
}

.news__description {
  margin-top: 14px;
  color: $color-text-sub;
  font-size: 14px;
  font-weight: 300;
  color: #888;
  line-break: strict;

  @include mq(pc) {
    margin-top: 10px;
  }
}

.news__button {
  margin-top: 42px;

  @include mq(pc) {
    margin-top: 44px;
  }
}

// motto
.motto {
}

.motto__inner {
}

.motto__flex-order {
  @include mq(pc) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: clamp(
      40px,
      calc((80 - 40) / (1280 - 768) * (100vw - 768px) + 40px),
      80px
    );
  }
}

.motto__image {
  text-align: center;

  @include mq(pc) {
    flex: 0 0 calc(600px / $width-inner-pc * 100%);
  }

  img {
    width: 345px;

    @include mq(pc) {
      width: 600px;
    }
  }
}

.motto__content {
  margin-top: 33px;

  @include mq(pc) {
    margin-top: 0;
    flex-grow: 1;
  }
}

.motto__lead {
  font-size: 20px;
  font-weight: 600;

  @include mq(pc) {
    margin-top: 2px;
    font-size: 28px;
  }

  @include mq(tb) {
    font-size: 22px;
  }
}

.motto__description {
  margin-top: 22px;
  font-size: 14px;
  font-weight: 300;

  @include mq(pc) {
    margin-top: 36px;
    font-size: 16px;
  }
}

// contact
.contact {
  padding-top: 96px;

  @include mq(pc) {
    padding-top: 160px;
  }
}

.contact__background {
  background: url(../img/contact-bg.jpg) top center / cover no-repeat;
  padding-top: 56px;
  padding-bottom: 56px;

  @include mq(pc) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.contact__inner {
}

.contact__title {
  color: $color-main;
}

.contact__description {
  margin-top: 74px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;

  @include mq(pc) {
    margin-top: 90px;
  }
}

.form {
  margin-top: 28px;

  @include mq(pc) {
    margin-top: 19px;
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form__field {
  @include mq(pc) {
    display: flex;
    gap: 10px;
  }
}

.form__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-inline: 16px;
  height: 32px;
  opacity: 0.7;
  background: $color-main;

  @include mq(pc) {
    flex: 0 0 180px;
    padding: 0;
    height: 40px;
    clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
  }
}

.form__label-text {
  color: $color-bg;
  font-size: 14px;
  font-weight: 600;

  @include mq(pc) {
    font-size: 18px;
  }
}

.form__label-mark {
  color: $color-attention;
  font-size: 10px;
  font-weight: 600;

  @include mq(pc) {
    font-size: 12px;
  }
}

.form__item {
  margin-top: 3px;

  @include mq(pc) {
    margin-top: 0;
    flex-grow: 1;
    width: 100%;
  }
}

.form__text-input {
  width: 100%;
  border: 0;
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
  padding: 6.5px;

  &:focus {
    border: 2px solid $color-main;
    outline: none;
    padding: 4.5px;
  }
}

.form__radios {
  display: flex;

  @include mq(pc) {
    margin-top: 0;
  }
}

.form__radio {
}

.form__radio-input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:focus + .form__radio-text {
    border: 2px solid $color-main;
  }

  &:checked + .form__radio-text {
    color: $color-bg;
    background: $color-main;
    border: 1px solid $color-bg;
  }

  &:focus:checked + .form__radio-text {
    border: 2px solid $color-bg;
  }
}

.form__radio-text {
  display: grid;
  place-items: center;
  width: 80px;
  height: 40px;
  color: $color-main;
  font-weight: 300;
  letter-spacing: 0.026px;
  background: $color-bg;
}

.form__textarea {
  width: 100%;
  height: 122px;
  padding: 6.5px;
  border: 0;
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);

  &:focus {
    border: 2px solid $color-main;
    outline: none;
  }

  @include mq(pc) {
    margin-top: 0;
  }
}

.form__privacy {
  margin-top: 28px;
  text-align: center;

  @include mq(pc) {
    margin-top: 32px;
  }
}

.form__checkbox {
  position: relative;
}

.form__checkbox-input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:focus + .form__checkbox-text::before {
    border: 2px solid $color-main;
  }

  &:checked + .form__checkbox-text::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
    background: url("../img/icon-check.svg") center center / contain no-repeat;
  }
}

.form__checkbox-text {
  margin-left: 30px;
  font-weight: 300;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border: 1px solid $color-main;
    background: $color-bg;
  }

  a {
    color: $color-main;
    text-decoration: underline;
  }
}

.form__button {
  margin-top: 23px;

  @include mq(pc) {
    margin-top: 44px;
  }
}

// footer
.footer {
  padding-top: 40px;
  padding-bottom: 10px;

  @include mq(pc) {
    padding-top: 39px;
    padding-bottom: 14px;
  }
}

.footer__inner {
}

.footer__logo {
  line-height: 1;
  text-align: center;

  img {
    width: 120px;
  }
}

.footer__list {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include mq(pc) {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
}

.footer__item {
  text-align: center;
}

.footer__link {
  display: block;
  font-size: 12px;
  font-weight: 300;

  @include mq(pc) {
    font-size: 12px;
    font-weight: 300;
  }
}

.footer__icons {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  @include mq(pc) {
    margin-top: 19px;
  }
}

.footer__icon {
  font-size: 0;
}

.footer__icon-link {
}

.footer__copyright {
  margin-top: 24px;
  text-align: center;

  @include mq(pc) {
    margin-top: 28px;
  }

  small {
    display: block;
    color: $color-text-sub;
    font-size: 12px;
    font-weight: 300;
  }
}

// フェードアニメーション
.fade-in-up {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 1s, transform 1s;

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
  }
}
